.backgroundImage {
    background-image: url("https://million-wallpapers.ru/wallpapers/3/3/435380631621567/cvetnye-tona-v-astronomii.jpg");
    background-size: cover;
    background-attachment: fixed;
}
