@model ClothMarket.Domain.ViewModels.Product.ProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="padding: 10px;"></div>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://images.wallpaperscraft.ru/image/single/mercedes_benz_s_class_w222_112850_800x600.jpg" 
                 class="img-fluid rounded-start rounded" alt="@Model?.Name">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center">@Model?.Name</h5>
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
                <p class="card-text"><b>Стоимость: </b>@Model?.Price ₽</p>
                <p class="card-text"><b>Размер: </b>@Model?.Size</p>
                <p class="card-text"><b>Тип: </b>@Model?.Category</p>
                <p class="card-text"><small class="text-muted">Дата создания - @Model?.DateCreate</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <p class="card-text"><b>Описание: </b>@Model?.Description</p>
            </div>
        </div>
    </div>
</div>